body{
    background-color: #D7E0ED;
    font-family: 'Outfit', sans-serif;
}
p{
    font-size: 15px;
    width: 245px;
    margin-left: 20px;
    color:#A0A3AF;
    font-weight: 400px;
}
.midSquare{
    width: 280px;
    height: 460px;
    background-color: white;
    border-radius: 20px;
    margin: 150px auto;
    padding: 20px 20px;
    text-align: center;

}
.boxTitle{
    font-weight: 700px;
    width: 260px;
    margin-left: 10px;
    font-size: 20px;
}
.qrImg{
    width: 280px;
    height: 280px;
    border-radius: 10px;
    margin:0;
}


.attribution { 
    font-size: 11px; text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

